
* {
   font-family: 'Roboto Mono', sans-serif;
}

#headcont {
   display: flex;
   justify-content: center;
}

html,body {
   background-image: url("etchback.png");
   background-size: cover;
}

.body {
   display: flex;
   justify-content: center;
}

.bgimage {
   background-image: url("etchback.png");
   background-size: cover;
   height: 100%;
}

#resetdiv {
   display: flex;
   justify-content: center;
}

#container {
 
   max-width: 1335px;
   display: flex;
   flex-direction: row;
   justify-content: center; 
   margin-left: 40px;
}
 
.gridRow {
 
   display: flex;
   flex-direction: column;
   min-width: 12px;
   min-height: 12px;

   border-top: 1px solid black;
   border-bottom: 1px solid black;
}
 
.cell {
   display: flex;
   border: 1px solid black;
   min-width: 5px;
   min-height: 12px;
   max-width: 12px;
 }


#reset,#colorButton {
   box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
   margin: 10px;
}

#reset,#colorButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
#reset,#colorButton:active {
	position:relative;
	top:1px;
}