
* {
   font-family: 'Roboto Mono', sans-serif;
}

#headcont {
   display: flex;
   justify-content: center;
}

html,body {
   background-image: url("etchback.png");
   background-size: cover;
}

.body {
   display: flex;
   justify-content: center;
}

.bgimage {
   background-image: url("etchback.png");
   background-size: cover;
   height: 100%;
}

#resetdiv {
   display: flex;
   justify-content: center;
}

#container {
 
   max-width: 1335px;
   display: flex;
   flex-direction: row;
   justify-content: center;

}
 
.gridRow {
 
   display: flex;
   flex-direction: column;
}
 
.cell {
   display: flex;
   border: 1px solid black;
   min-width: 20px;
   min-height: 30px;
 }
